<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HttpServletDemo1</servlet-name>
        <servlet-class>HttpServletDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpServletBack1</servlet-name>
        <servlet-class>HttpServletBack1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpServletBack2</servlet-name>
        <servlet-class>HttpServletBack2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdd</servlet-name>
        <servlet-class>LoginAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegDetails</servlet-name>
        <servlet-class>RegDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display</servlet-name>
        <servlet-class>Display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display1</servlet-name>
        <servlet-class>Display1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BOOK</servlet-name>
        <servlet-class>BOOK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBook</servlet-name>
        <servlet-class>DisplayBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BOOK1</servlet-name>
        <servlet-class>BOOK1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>SendEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletDemo1</servlet-name>
        <url-pattern>/HttpServletDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpServletBack1</servlet-name>
        <url-pattern>/HttpServletBack1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpServletBack2</servlet-name>
        <url-pattern>/HttpServletBack2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdd</servlet-name>
        <url-pattern>/LoginAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegDetails</servlet-name>
        <url-pattern>/RegDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display</servlet-name>
        <url-pattern>/Display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display1</servlet-name>
        <url-pattern>/Display1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BOOK</servlet-name>
        <url-pattern>/BOOK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBook</servlet-name>
        <url-pattern>/DisplayBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BOOK1</servlet-name>
        <url-pattern>/BOOK1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
